<section class="overflow-hidden relative">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 14.75 193.25 44.79999923706055"
    data-asc="1.011"
    class="relative"
    ><defs></defs><g
      ><g fill="#000000"
        ><g transform="translate(0, 0)"
          ><path
            d="M0 50.55L0 26.10L6.10 26.10L6.10 32.00L5.60 32.00Q6.30 29.00 8.35 27.42Q10.40 25.85 13.80 25.60L15.70 25.45L16.10 30.75L12.50 31.10Q9.45 31.40 7.90 32.97Q6.35 34.55 6.35 37.40L6.35 50.55L0 50.55ZM19.20 20.85L19.20 14.75L26.20 14.75L26.20 20.85L19.20 20.85M19.60 50.55L19.60 26.10L25.85 26.10L25.85 50.55L19.60 50.55ZM31.55 50.55L31.55 46.50L45.35 29.30L45.35 30.80L31.55 30.80L31.55 26.10L50.95 26.10L50.95 30.15L37 47.50L37 45.85L51.50 45.85L51.50 50.55L31.55 50.55ZM56.05 50.55L56.05 15.30L62.30 15.30L62.30 36.50L62.40 36.50L72.25 26.10L79.80 26.10L67.50 39.10L67.50 36.50L80.50 50.55L72.85 50.55L62.40 39.65L62.30 39.65L62.30 50.55L56.05 50.55ZM84.15 59.55L89.25 48.30L89.25 50.90L78.50 26.10L85.15 26.10L92.75 45.05L91.25 45.05L99 26.10L105.30 26.10L90.60 59.55L84.15 59.55ZM121.75 50.55L121.75 26.10L127.85 26.10L127.85 32.00L127.35 32.00Q128.05 29.00 130.10 27.42Q132.15 25.85 135.55 25.60L137.45 25.45L137.85 30.75L134.25 31.10Q131.20 31.40 129.65 32.97Q128.10 34.55 128.10 37.40L128.10 50.55L121.75 50.55ZM149.15 51.05Q146.50 51.05 144.42 50.02Q142.35 49 141.17 47.25Q140 45.50 140 43.30Q140 40.60 141.40 39.02Q142.80 37.45 145.95 36.75Q149.10 36.05 154.40 36.05L156.90 36.05L156.90 39.65L154.45 39.65Q152.10 39.65 150.50 39.82Q148.90 40 147.92 40.38Q146.95 40.75 146.53 41.40Q146.10 42.05 146.10 43Q146.10 44.65 147.25 45.70Q148.40 46.75 150.45 46.75Q152.10 46.75 153.38 45.97Q154.65 45.20 155.40 43.85Q156.15 42.50 156.15 40.75L156.15 35Q156.15 32.50 155.05 31.40Q153.95 30.30 151.35 30.30Q149.30 30.30 147.15 30.92Q145 31.55 142.80 32.85L141 28.60Q142.30 27.70 144.07 27.02Q145.85 26.35 147.82 25.97Q149.80 25.60 151.55 25.60Q155.15 25.60 157.47 26.70Q159.80 27.80 160.95 30.02Q162.10 32.25 162.10 35.75L162.10 50.55L156.25 50.55L156.25 45.35L156.65 45.35Q156.30 47.10 155.28 48.38Q154.25 49.65 152.70 50.35Q151.15 51.05 149.15 51.05ZM170.10 50.55L170.10 30.80L165.40 30.80L165.40 26.10L171.90 26.10L170.10 27.75L170.10 26.05Q170.10 20.85 172.82 18.20Q175.55 15.55 181.30 15.20L183.75 15.05L184.15 19.65L181.85 19.80Q179.85 19.90 178.65 20.52Q177.45 21.15 176.90 22.25Q176.35 23.35 176.35 25.05L176.35 26.90L175.55 26.10L183 26.10L183 30.80L176.35 30.80L176.35 50.55L170.10 50.55ZM186.25 20.85L186.25 14.75L193.25 14.75L193.25 20.85L186.25 20.85M186.65 50.55L186.65 26.10L192.90 26.10L192.90 50.55L186.65 50.55Z"
          ></path></g
        ></g
      ></g
    ></svg
  >

  <div class="px-8 md:px-12 py-24 max-w-2xl mx-auto relative">
    <div>
      <h2 class="text-5xl mt-12 tracking-tighter font-normal text-black">
        frontend engineer
      </h2>
    </div>
    <ul
      class="grid grid-cols-1 text-base text-zinc-500 lg:grid-cols-2 max-w-xl gap-2 group h-full mt-12"
    >
      <div>
        <p>
          Hi there! I specialize in building modern web applications with a
          focus on performance, accessibility, and user experience.
        </p>
      </div>
      <div>
        <p>
          My expertise lies in Vue.js and React ecosystem, but I'm always eager
          to learn new technologies and improve my skills.
        </p>
      </div>
      <em class="col-span-full text-sm mt-8">
        <p>
          Any fool can write code that a computer can understand. Good
          programmers write code that humans can understand. <span
            class="block text-black">⏤ Martin Fowler</span
          >
        </p>
      </em>
    </ul>
  </div>
</section>
